.width {
    width: 190px;
}

.majinbu {
    background-color: #212529;
}

.width2 {
    width: 30px;
}

.a {
    text-decoration: none;
    color: white;
}

.linegridend {
    background-image: linear-gradient(black, #212529);
    background-repeat: no-repeat;
}

.width3 {
    width: 21px;
}

.margin {
    margin-left: 50px;
}

.margin2 {
    margin-right: 50px;
}
.catalogo {
    display: flex;
    flex-wrap: wrap;
}

.catak {
    padding: 2px;
    width: 406px;
}